<div class="container">
  <div class="mb-4">
    <h1>Edit Note</h1>
    <p class="text-subtle">Refine your thoughts</p>
  </div>
  
  <div class="card">
    <%= render "form", note: @note %>
  </div>
</div>
